In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('/content/bank-additional-full organised.csv')

In [4]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

In [6]:
df.describe()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,41188.00000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000
mean,40.02406,258.285010,2.567593,962.475454,0.172963,0.081886,93.575664,-40.502600,3.621291,5167.035911
std,10.42125,259.279249,2.770014,186.910907,0.494901,1.570960,0.578840,4.628198,1.734447,72.251528
min,17.00000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000
25%,32.00000,102.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000
50%,38.00000,180.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,47.00000,319.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,98.00000,4918.000000,56.000000,999.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

In [7]:
#drop unwanted columns
df=df.drop(['emp.var.rate','cons.price.idx','cons.conf.idx',
            'euribor3m','nr.employed'],axis=1)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          41188 non-null  int64
 1   job          41188 non-null  object
 2   marital      41188 non-null  object
 3   education    41188 non-null  object
 4   default      41188 non-null  object
 5   housing      41188 non-null  object
 6   loan         41188 non-null  object
 7   contact      41188 non-null  object
 8   month        41188 non-null  object
 9   day_of_week  41188 non-null  object
 10  duration     41188 non-null  int64
 11  campaign     41188 non-null  int64
 12  pdays        41188 non-null  int64
 13  previous     41188 non-null  int64
 14  poutcome     41188 non-null  object
 15  y            41188 non-null  object
dtypes: int64(5), object(11)
memory usage: 5.0+ MB

In [9]:
#check for duplicates
df.duplicated().sum()

np.int64(13)

In [10]:
#view all duplicate rows
df[df.duplicated()]

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,y
1266,39,blue-collar,married,basic.6y,no,no,no,telephone,may,thu,124,1,999,0,nonexistent,no
12261,36,retired,married,unknown,no,no,no,telephone,jul,thu,88,1,999,0,nonexistent,no
14234,27,technician,single,professional.course,no,no,no,cellular,jul,mon,331,2,999,0,nonexistent,no
16956,47,technician,divorced,high.school,no,yes,no,cellular,jul,thu,43,3,999,0,nonexistent,no
18465,32,technician,single,professional.course,no,yes,no,cellular,jul,thu,128,1,999,0,nonexistent,no
20216,55,services,married,high.school,unknown,no,no,cellular,aug,mon,33,1,999,0,nonexistent,no
20534,41,technician,married,professional.course,no,yes,no,cellular,aug,tue,127,1,999,0,nonexistent,no
25217,39,admin.,married,university.degree,no,no,no,cellular,nov,tue,123,2,999,0,nonexistent,no
28477,24,services,single,high.school,no,yes,no,cellular,apr,tue,114,1,999,0,nonexistent,no
32516,35,admin.,married,university.degree,no,yes,no,cellular,may,fri,348,4,999,0,nonexistent,no
33296,36,blue-collar,married,basic.9y,no,no,no,cellular,may,tue,151,1,999,0,nonexistent,no
36951,45,admin.,married,university.degree,no,no,no,cellular,jul,thu,252,1,999,0,nonexistent,yes
38281,71,retired,single,university.degree,no,no,no,telephone,oct,tue,120,1,999,0,nonexistent,no

In [11]:
#remove duplicates
df.drop_duplicates(inplace=True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 41175 entries, 0 to 41187
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          41175 non-null  int64
 1   job          41175 non-null  object
 2   marital      41175 non-null  object
 3   education    41175 non-null  object
 4   default      41175 non-null  object
 5   housing      41175 non-null  object
 6   loan         41175 non-null  object
 7   contact      41175 non-null  object
 8   month        41175 non-null  object
 9   day_of_week  41175 non-null  object
 10  duration     41175 non-null  int64
 11  campaign     41175 non-null  int64
 12  pdays        41175 non-null  int64
 13  previous     41175 non-null  int64
 14  poutcome     41175 non-null  object
 15  y            41175 non-null  object
dtypes: int64(5), object(11)
memory usage: 5.3+ MB

In [13]:
#check for missing values
print(df.isnull().sum())

age            0
job            0
marital        0
education      0
default        0
housing        0
loan           0
contact        0
month          0
day_of_week    0
duration       0
campaign       0
pdays          0
previous       0
poutcome       0
y              0
dtype: int64

In [14]:
#keeping only rows with age between 18 and 90
df = df[(df['age'] >= 18) & (df['age'] <= 90)]

In [15]:
#checking new min and max age
print(df['age'].min(), df['age'].max())

18 89

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 41160 entries, 0 to 41187
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          41160 non-null  int64
 1   job          41160 non-null  object
 2   marital      41160 non-null  object
 3   education    41160 non-null  object
 4   default      41160 non-null  object
 5   housing      41160 non-null  object
 6   loan         41160 non-null  object
 7   contact      41160 non-null  object
 8   month        41160 non-null  object
 9   day_of_week  41160 non-null  object
 10  duration     41160 non-null  int64
 11  campaign     41160 non-null  int64
 12  pdays        41160 non-null  int64
 13  previous     41160 non-null  int64
 14  poutcome     41160 non-null  object
 15  y            41160 non-null  object
dtypes: int64(5), object(11)
memory usage: 5.3+ MB

In [17]:
#reset index and add id column
df.reset_index(drop=True, inplace=True)
df.insert(0, 'id', range(1, len(df) + 1))

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41160 entries, 0 to 41159
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           41160 non-null  int64
 1   age          41160 non-null  int64
 2   job          41160 non-null  object
 3   marital      41160 non-null  object
 4   education    41160 non-null  object
 5   default      41160 non-null  object
 6   housing      41160 non-null  object
 7   loan         41160 non-null  object
 8   contact      41160 non-null  object
 9   month        41160 non-null  object
 10  day_of_week  41160 non-null  object
 11  duration     41160 non-null  int64
 12  campaign     41160 non-null  int64
 13  pdays        41160 non-null  int64
 14  previous     41160 non-null  int64
 15  poutcome     41160 non-null  object
 16  y            41160 non-null  object
dtypes: int64(6), object(11)
memory usage: 5.3+ MB

In [19]:
#save the cleaned dataset
df.to_csv("bank_data_clean.csv", index=False)

In [20]:
print(f"âœ… Preprocessing complete! Rows: {len(df)}")

âœ… Preprocessing complete! Rows: 41160